**1. abs(): return absolute value of a number**

In [1]:
abs(-1)

1

**2. all(): return True if all elements of the iterable are true**

In [9]:
# 0 is False
test_list = [0, 1, 2]
print(all(test_list))        # return False

# None is False
test_tuple = (None, 1, 2)    # return False
print(all(test_tuple))

# if iterable is empty, return True
test_set = set()
print(all(test_set))         # return True

False
False
True

**3. any(): return True if any element of the iterable is true**

In [13]:
# 0 is False
test_list = [0, 1, 2]
print(any(test_list))              # return True

# None is False
test_tuple = (None, None, None)    # return False
print(any(test_tuple))

# if iterable is empty, return False 
test_set = set()
print(any(test_set))               # return False

True
False
False

**4. ascii(): return a string containing ASC-II characters only**

In [21]:
ascii('abc')

"'abc'"

**5. bin(): convert an integer to a binary string prefixed with '0b'**

In [23]:
bin(2)

'0b10'

**6. oct(): convert an integer to an octal string prefixed with '0o'**

In [71]:
oct(8)

'0o10'

**7. hex(): convert an integer to a lowercase hexadecimal string prefixed with '0x'**

In [72]:
hex(16)

'0x10'

**8. bool(): return a boolean value**

In [73]:
bool(0)

False

**9. bytearray(): return an mutable byte array object**

In [39]:
# if input is an iterable, it must fall in the range [0,256)
b_array = bytearray([1,2,254,255])
print(b_array[3])

# if input is string, you must provide encoding
b_array = bytearray('abcd', encoding='utf-8')
print(b_array[3])

255
100

**10. bytes(): return an immutable bytes object which in the range [0, 256)**

In [47]:
bt = bytes(2)
print(bt)

bt = bytes('abc', encoding='utf-8')
print(bt)

b'\x00\x00'
b'abc'

**11. callable(): return True if the object is callable, False if not**

In [51]:
def one_plus_one():
    return 1 + 1

# functions are callable
callable(one_plus_one)     # return True
callable(min)              # return True

# variables are not callable
a = 10
callable(a)                # return False

False

**12. chr(): return the string representation a character whose Unicode code point is the input integer**

In [53]:
# convert int to char
chr(97)

'a'

**13. ord(): return the Unicode code point of a character**

In [56]:
# convert char to int
ord('a')

97

**14. int(): convert a string or floating-point number to integer**

In [12]:
print(int('10'))
print(int(2.7))

# pass second argument as base, the first argument must be a string
print(int('10', 2))
print(int('10', 8))
print(int('10', 16))

10
2
2
8
16

**15. float(): convert a string or integer to a floating-point number**

In [69]:
print(float('12.3'))
print(float(12))

12.3
12.0

**16. complex(): construct a complex number given two integers**

In [65]:
# the first integer is the real part, the second the imaginary part
complex(1,2)

(1+2j)

**17. divmod(): return quotient and remainder of two numbers**

In [67]:
divmod(13, 4)

(3, 1)

**18. dir(): return a list of valid attributes of an object**

In [13]:
test_list = list(range(5))
dir(test_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**enumerate(): return an enumerate iterable containing index, value tuples**

In [19]:
enum_iter = enumerate(range(10))
print(list(enum_iter))

# pass a second argument (index start number)
enum_iter = enumerate(range(10), 100)
print(list(enum_iter))

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8), (9, 9)]
[(100, 0), (101, 1), (102, 2), (103, 3), (104, 4), (105, 5), (106, 6), (107, 7), (108, 8), (109, 9)]

**eval(): parse an expression adn evaluate it as a Python expression**

In [21]:
s = 'print(1+1)'
eval(s)

2

**repr(): return a string containing a printable representation of an object**

In [24]:
num = 100
repr(num)

'100'

**exec(): supports dynamic execution of Python code**

In [27]:
num = 100
exec('num = 101')            # eval() cannot achieve this because it does not support dynamic execution
print(num)

101

**id(): return a unique identifier of an object (the address of the object in memory)**

In [30]:
num = [1, 2, 3]
num1 = num
print('num ID is %d' % id(num))
print('num1 ID is %d' % id(num1))

num ID is 140147606219336
num1 ID is 140147606219336