### Immutable vs. Mutable

**Immutable**: it cannot be changed once created. For example, `tuple`, `range` are immutable.

**Mutable**: it can be changed after it is created. For example, `list` is mutable.

Note: 
1. Mutable objects are not hashable.
2. There are 3 basic sequence types introduced in this notebook: `list`, `tuple`, `range`

### Common Sequence Operations

**`x in s`**: return `True` if `x` is in the sequence, else `False`

**`x not in s`**: return `True` if `x` is not in the sequence, else `False`

In [ ]:
s = list(range(5))
4 in s        # return True
4 not in s    # return False
5 in s        # return False
5 not in s    # return True

**`x + y`**: return a new sequence which concatenates two sequences `x` and `y`

In [ ]:
x = list(range(5))
y = list(range(5, 10))
x + y    # return [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

x = 1,2,3,4,5
y = 6,7,8,9,10
x + y    # return (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**`s * i`** or **`i * s`**: return a new sequence which is `i` times of `s` concatenated

In [ ]:
x = 1,2,3
3 * x    # return (1, 2, 3, 1, 2, 3, 1, 2, 3)
x * 3    # return (1, 2, 3, 1, 2, 3, 1, 2, 3)

**`s[i]`**: return the *i* th element of the sequence `s`

In [ ]:
x = 1,2,3
x[0]     # return 1
y = [4,5,6]
y[-1]    # return 6

**`s[i:j]`**: return the slice of `s` from *i* th (inclusive) to *j* th (exclusive) elements

In [ ]:
s = list(range(10))
s[3:8]     # return [3, 4, 5, 6, 7]

# note: slicing returns a copy of s, rather than view

**`s[i:j:k]`**: return the slice of `s` from *i* th (inclusive) to *j* th (exclusive) elements with step *k*

In [ ]:
s = tuple(range(10))
s[3:9:2]    # return (3, 5, 7)

**`len(s)`**: return the length of `s`

In [ ]:
s = 1,2,3,4,5
len(s)    # return 5

**`min(s)`**: return the min value of `s`

**`max(s)`**: return the max value of `s`

In [ ]:
s = tuple(range(10))
min(s)    # return 0
max(s)    # return 9

**`s.index(sub[, i[, j]])`**: return the first index of the first occurence of *sub* in `s`, starting from *i* th (inclusive) and ending at *j* th (exclusive) elements. Raise `ValueError` if *sub* is not in `s`

In [ ]:
s = list(range(100))
s.index(99)      # return 99
s.index(0, 1)    # raise ValueError

**`s.count(x)`**: return the number of occurences of `x` in `s`

In [ ]:
s = [1,2,3] * 3
s.count(1)    # return 3

### Common Mutable Sequence Operations

**`s[i] = x`**: assign new value to *i* th element in `s`

In [ ]:
s = [1,2,3]
s[0] = 3
print(s)    # return [3, 2, 3]

**`s[i:j] = t`**: assign new values to from the *i* th (inclusive) to the *j* th (exclusive) elements in `s`

In [ ]:
# t must be of the same length as the slice
s = list(range(10))
s[3:7] = [0] * 4
print(s)    # return [0, 1, 2, 0, 0, 0, 0, 7, 8, 9]

# note: assignment occurs in place, slicing here does not create copy

**`s[i:j:k] = t`**: assign new values to from the *i* th (inclusive) to the *j* th (exclusive) elements in `s` with step *k*

In [ ]:
# t must be of the same length as the slice
s = list(range(10))
s[::2] = range(100, 105)
print(s)    # return [100, 1, 101, 3, 102, 5, 103, 7, 104, 9]

**`del s[i:j:k]`**: remove slice from *i* th (inclusive) to *j* th (exclusive) elements from `s` with step *k*

In [ ]:
s = list(range(10))
del s[::2]
print(s)    # return [1, 3, 5, 7, 9]

**`s.append(x)`**: append `x` to the end of `s`

In [ ]:
s = [1, 2, 3]
s.append(4)
s.append(5)
print(s)    # return [1, 2, 3, 4, 5]

**`s.clear()`**: remove all elements from `s`

In [ ]:
s = [1, 2, 3]
s.clear()
print(s)    # return s

**`s.copy()`**: return a shallow copy of `s`

In [ ]:
s = [1, 2, 3]
c = s.copy()
print(c)    # return [1, 2, 3]

**`s.extend(t)`** or **`s += t`**: unpack `t` and append the contents of `t` to the end of `s`

In [ ]:
s = [1, 2, 3]
t = [4, 5, 6]
s.extend(t)
print(s)    # return [1, 2, 3, 4, 5, 6]

# note: t can be any sequence type, the return type is always consitent with s
s = [1, 2, 3]
t = 4, 5, 6
s.extend(t)
print(s)    # return [1, 2, 3, 4, 5, 6]

s = [1, 2, 3]
t = range(4,7)
s.extend(t)
print(s)    # return [1, 2, 3, 4, 5, 6]

s = [1, 2, 3]
t = '456'
s.extend(t)
print(s)    # return [1, 2, 3, '4', '5', '6']

**`s.insert(i, x)`**: insert element `x` into `s` at index *i*

In [ ]:
s = [1, 2, 3]
s.insert(1, 10)
print(s)    # return [1, 10, 2, 3]

**`s.pop([i])`**: return the *i* th element (the last if *i* is not specified) of `s` and remove it

In [ ]:
s = [1, 2, 3]
s.pop()     # return 3
s.pop(0)    # return 1
print(s)    # return [2]

**`s.remove(x)`**: remove the first `x` in `s`, raise `ValueError` if `x` is not in `s`

In [ ]:
s = [1, 2, 3, 1]
s.remove(1)
print(s)       # return [2, 3, 1]
s.remove(4)    # raise ValueError

**`s.reverse()`**: reverse `s` in place

In [ ]:
s = [1, 2, 3]
s.reverse()
print(s)    # return [3, 2, 1]

### Lists

Lists may be constructed in several ways:
1. A pair of square brackets with or without elements: 
  * **`[]`**
  * **`[1, 2, 3]`** 
  * **`[x for x in iterable]`**
2. Type constructor: 
  * **`list()`**
  * **`list(iterable)`**

**`sort(key=None, reverse=False)`**: sort the list in place

In [ ]:
s = [3, 2, 4, 1]
s.sort()
print(s)    # return [1, 2, 3, 4]
s.sort(reverse=True)    
print(s)    # [4, 3, 2, 1]

### Tuples

Tuples may be constructed in several ways:
1. A pair of parentheses with or without elements: 
  * **`()`**
  * **`(1, 2, 3)`**
2. Separating elements with commas: **`s = 1, 2 ,3`**
3. A trailing comma for a singleton tuple: 
  * **`1,`**
  * **`(1,)`**
4. Type constructor: 
  * **`tuple()`**
  * **`tuple(iterable)`**

### Ranges

**`range(stop)`**: return a range object representing integers from `0` (inclusive) to *stop* (exclusive)

In [ ]:
range(10)    # return range(0, 10)

**`range(start, stop[, step])`**: return a range object representing integers from `0` (inclusive) to *stop* (exclusive) with step *k*

In [ ]:
range(0, 10, 2)    # return range(0, 10, 2)